body {
    background-color: #71c0e4ba;

}

header {
    background-color: rgba(10, 58, 81, 0.729);
}

header h1 {
    font-size: 100px;
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
    display: inline-block;
}
 hr {
    border: 3px solid rgb(0, 0, 0);
}

.nav {
    display: inline-block;
}


.nav-flex {
    display: flex;
    justify-content: flex-end;
}

.nav-flex a {
    font-size: 2rem;
    padding: 2rem;
}

.nav-flex a:hover {
    cursor: pointer;
    color: whitesmoke;
}