<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher or Student</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>ExamHub</h1>
        <hr>
    </header>

    <h1 class="sign-in">Sign-In</h1>
    <section class="selector">
        <div class="selector-div"><a class="selector-a" href="/loginTeacher.html">Teacher</a></div>
        <div class="selector-div"><a class="selector-a" href="/loginStudent.html">Student</a></div>
    </section>
</body>
</html>