<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <header>
        <h1>ExamHub</h1>
        <div class="nav">
            <div class="back-div">
                <a href="/">Back</a>
            </div>
        </div>
        <hr>
    </header>

    <h1 class="student-signIn">Student Sign-In</h1>

    <section class="login-box">
        <div class="login-form-box">
            <form class="login-form">
                <label for="login-form-email">Email</label>
                <input type="email" class="login-form-email" name="Email" placeholder="Email" required>
                <br>
                <label for="login-form-password">Password</label>
                <input type="password" class="login-form-password" name="Password" placeholder="Password" required>
            </form>
        </div>
        <button class="login-student">Login</button>
        <br>
        <a class="login-box-signUp" href="registrationStudent.html">No account? Sign-up here</a>
    </section>

</body>
</html>