<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <header>
        <div class="nav">
            <h1>ExamHub</h1>
            <div class="nav-flex">
                <a href="/take_hub.html">Take Test</a>
                <a href="/loginTeacher.html">Manage Tests</a>
                <a href="/accounts.html">Accounts</a>
                <a href="/">Sign-out</a>
            </div>
        </div>

    </header>
    <div class="body">

        <form action="/myTestsTeacher.html" method="POST">
            <input type="text" name="TestName" placeholder="Test Name" class="input_field"> <br>
            <input type="text" name="Q1" placeholder="Question 1" class="input_field"> <br>
            <input type="text" name="Q2" placeholder="Question 2" class="input_field"> <br>
            <input type="text" name="Q3" placeholder="Question 3" class="input_field"> <br>
            <input type="text" name="Q4" placeholder="Question 4" class="input_field"> <br>
            <input type="text" name="Q5" placeholder="Question 5" class="input_field"> <br>
            <input type="text" name="Q6" placeholder="Question 6" class="input_field"> <br>
            <input type="text" name="Q7" placeholder="Question 7" class="input_field"> <br>
            <input type="text" name="Q8" placeholder="Question 8" class="input_field"> <br>
            <input type="text" name="Q9" placeholder="Question 9" class="input_field"> <br>
            <input type="text" name="Q10" placeholder="Question 10" class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
    </div>


</body>
</html>