<!DOCTYPE html>
<html>
<head>
    <title>Teacher Registration</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>ExamHub</h1>
        <div class="nav">
            <div class="back-div">
                <a href="loginTeacher.html">Login</a>
            </div>
        </div>
        <hr>
    </header>

    <h1 class="teacher-signup">Teacher Sign-Up</h1>

    <section class="signup-box">
        <div class="signup-form-box">
            <form action="/registrationTeacher.html" class="signup-form" method="POST">
                <label for="signup-firstname">First Name</label>
                <input type="text" class="signup-firstname" name="Firstname" placeholder="First Name" required>
                <br>
                <label for="signup-lastname">Last Name</label>
                <input type="text" class="signup-lastname" name="Lastname" placeholder="Last Name" required>
                <br>
                <label for="signup-email">Email</label>
                <input type="email" class="signup-email" name="Email" placeholder="Email" required>
                <br>
                <label for="signup-password">Password</label>
                <input type="password" class="signup-password" name="Password" placeholder="Password" required>
                <input class="signup-teacher" type="submit" value="Create Account">

            </form>
        </div>
    </section>
    
</body>
</html>